.app {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 0 5px #ccc;
}
.app2 {
    max-width: 1200px;
    width: 20%;

    margin-top: 1px;
    margin-left: 81.85%;

}
.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;

}

.details .big-img{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
}

.big-img img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit:cover;
}

.details .box{
    max-width: 500px;
    min-width: 290px;
    margin:25px;
}

.box .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -0.5px;
}

.box .row span{
    color: crimson;
}

.box p{
    line-height: 1.5;
    margin:15px 0 ;
}

.box .reserve7{
    background: #333;
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 50px;
    width: 50%;
    margin-left: 120px;

}

.box .reserve7:hover{
    background-color: #F32225;

}

.box .reserve8{
    background: #333;
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 25px;
    width: 50%;
    margin-left: 120px;

}

.box .reserve8:hover{
    background-color: #036C90;

}
.box2 .reserve12{
    background: #333;
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 1px;
    width: 150px;
    margin-left: 120px;

}

.box2 .reserve12:hover{
    background-color: #036C90;

}
.box2 .reserve13{
    background: #333;
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    padding: 10px 25px;
    /*margin-top: -4.59%;*/
    margin-top: 1px;
    margin-bottom: -280px;
    width: 150px;
    /*margin-left: 79.5%;*/
    margin-left: 120px;

}

.box2 .reserve13:hover{
    background-color: #036C90;

}




.box .days{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.box .date{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

